.float_item{float:left;display:block;width:450px;height:300px;position:relative;background:black;border-radius:4px;}
.float_item img {position:absolute;top:100px;left:10px;width:80px;}
.float_item_list{margin-left:100px;}